.btn {
  position: relative;

  display: flex;
  overflow: hidden;
  justify-content: center;

  padding: 18px 77px;

  cursor: pointer;
  text-align: center;
  letter-spacing: -0.02em;

  color: white;
  border: none;
  border-radius: 900px;
  outline: none;
  box-shadow: none;

  font-size: 16px;
  line-height: 125%;

  &--header {
    min-width: 160px;
    padding: 6px 16.5px;
  }
}

.btn__text {
  position: relative;
  z-index: 1;
}

.btn__bg1,
.btn__bg2 {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: all $transition;

  border-radius: 900px;
  background: transparent;
}

.btn__bg1 {
  opacity: 1;
  background: linear-gradient(90deg, #2886CA 0%, #433CCA 100%);
}

.btn__bg2 {
  opacity: 0;
  background: linear-gradient(298.68deg, rgba(4, 250, 209, 0.6) 0%, rgba(4, 250, 209, 0.1) 100%), #106FFA;
}

.btn:hover {
  & .btn__bg1 {
    opacity: 0;
  }

  & .btn__bg2 {
    opacity: 1;
  }
}
