.callback {
  padding-top: 200px;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.2) 0%,
    rgba(16, 111, 250, 0.02) 100%), #161616;

  @include tablet {
    padding-top: 120px;
  }
}

.callback__header {
  max-width: 676px;
  margin: 0;
  margin-bottom: 50px;
  padding-bottom: 10px;

  letter-spacing: -0.02em;

  color: $white;

  font-size: 80px;
  font-weight: 600;
  line-height: 100%;

  @include tablet {
    margin-bottom: 22px;

    font-size: 41px;
    line-height: 107%;
  }
}

.callback__cards {
  display: flex;

  margin-bottom: 200px;

  gap: 16px;
  @include tablet {
    margin-bottom: 80px;
  }
}

.callback__text {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 560px;
  margin: 0;
  padding: 20px 34px;

  text-align: center;
  letter-spacing: -0.02em;

  color: $white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  background: linear-gradient(90deg, #2886CA 0%, #433CCA 100%);

  font-size: 44px;
  font-weight: 600;
  line-height: 100%;

  @include tablet {
    min-height: 480px;

    font-size: 28px;
    line-height: 115%;
  }
}

.callback__form {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 40px 40px 20px;

  border: 1px solid rgba(210, 217, 225, 0.1);
  border-radius: 16px;
  background: rgba(210, 217, 225, 0.1);

  gap: 74px;
  @include desktop {
    padding: 32px 32px 20px;

    gap: 66px;
  }
  @include tablet {
    padding: 24px;

    gap: 32px;
  }
}

.callback__icon {
  align-self: flex-start;

  width: 24px;
  height: 24px;
}

.callback__form-wrapper {
  display: flex;
  flex-direction: column;

  gap: 24px;
  @include tablet {
    gap: 18px;
  }
}

.callback__button-wrapper {
  display: flex;

  gap: 16px;
  @include desktop {
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
  }
}

.callback__btn {
  min-width: 288px;

  // @include tablet {
  //   display: none;
  // }
}

.callback__privacy {
  display: flex;
  align-items: center;

  max-width: 206px;

  @include desktop {
    display: flex;
    justify-content: center;

    width: 100%;
    max-width: none;
  }
}

.callback__privacy-text {
  margin: 0;

  letter-spacing: -0.02em;

  color: rgba(210, 217, 225, 0.5);

  font-size: 12px;
  line-height: 130%;
}


.callback__link {
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}

.callback__form--succes {
  display: none;
}

.callback__result {
  display: none;
  width: 100%;
  padding: 40px 40px 20px;
  border: 1px solid rgba(210, 217, 225, 0.1);
  border-radius: 16px;
  background: rgba(210, 217, 225, 0.1);
}

.callback__form--succes ~ .callback__result--succes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.callback__result-text {
  font-weight: 600;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
