.cards {
  position: relative;
  z-index: 2;

  position: relative;
  padding-bottom: 200px;

  @include tablet {
    padding-bottom: 120px;
  }

  @include mobile {
    padding: 80px 0;
  }
}

.cards__anchor {
  position: absolute;
  left: 0;
  top: -104px;

  @include tablet {
    top: -96px;
  }
  @include mobile {
    top: 16px;
  }
}

.cards__container {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.cards__row {
  display: flex;

  gap: 16px;

  @include mobile {
    flex-direction: column;
  }
}

.cards__item {
  position: relative;

  overflow: hidden;

  min-height: 720px;
  padding: 40px;

  border: 1px solid rgba(210, 217, 225, 0.2);
  border-radius: 16px;
  box-shadow: 0px 0px 16px rgba(0, 55, 136, 0.08);

  @include tablet {
    min-height: 480px;
    padding: 24px;
    padding-right: 15px;
  }

  @include mobile {
    height: 480px;
    padding: 16px;
    padding-right: 14px;
    min-height: 480px;
  }

  &--small {
    flex-shrink: 0;

    width: 36.75%;

    @include desktop {
      flex-shrink: 1;

      width: 100%;
    }
    @include tablet {
      flex-shrink: 1;

      width: 100%;
    }

    @include mobile {
      flex-shrink: 1;

      width: 100%;
    }
  }

  &--large {
    width: 100%;
  }

  &--optimization,
  &--simple {
    background-color: $white;
  }
}

.cards__item--active {
  & .cards__feature {
    opacity: 0;
  }

  & .cards__item-content--main {
    opacity: 0;
    z-index: 0;
  }

  & .cards__item-content--active {
    opacity: 1;
    z-index: 1;
  }
}

.cards__item--profit {
  & .cards__item-content--main {
    background: linear-gradient(298.68deg,
    rgba(4, 250, 209, 0.6) 0%,
    rgba(4, 250, 209, 0.1) 100%), #106FFA;
  }

  & .cards__item-content--active {
    background: linear-gradient(298.68deg,
    rgba(4, 250, 209, 0.6) 0%,
    rgba(4, 250, 209, 0.46) 100%), #106FFA;
  }
}

.cards__item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-out;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px;

  @include tablet {
    padding: 24px;
    padding-right: 15px;
  }

  @include mobile {
    padding: 16px;
    padding-right: 14px;
  }
}

.cards__item-content--main {
  opacity: 1;
  z-index: 1;
}

.cards__item-content--active {
  opacity: 0;
  z-index: 0;

  & .cards__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
  }
}

.cards__feature {
  margin: 0;

  letter-spacing: -0.02em;

  color: $white;

  font-size: 19px;
  line-height: 125%;
  transition: opacity 1s ease-out;

  @include tablet {
    font-size: 16px;
  }
  @include mobile {
    font-size: 16px;
  }
}

.cards__header {
  letter-spacing: -0.02em;

  color: $white;

  font-size: 44px;
  font-weight: 600;
  line-height: 100%;
  margin: 0;

  @include tablet {
    letter-spacing: -0.02em;

    font-size: 28px;
    line-height: 115%;
  }
  @include mobile {
    letter-spacing: -0.02em;

    font-size: 28px;
    line-height: 115%;
  }
}

.cards__discription {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: $white;
  margin: 0;
}

.cards__btn {
  padding: 10px 29.5px;
  min-width: 160px;

  cursor: pointer;
  transition: all $transition;
  letter-spacing: -0.02em;

  color: $white;
  border: none;
  border: 1px solid $white;
  border-radius: 100px;
  outline: none;
  background-color: transparent;

  font-size: 16px;
  line-height: 125%;

  @include tablet {
    padding: 10px 24.5px;

    letter-spacing: -0.02em;

    font-size: 14px;
  }

  @include mobile {
    padding: 10px 24.5px;

    letter-spacing: -0.02em;

    font-size: 14px;
  }

  &:hover {
    color: #3662ca;
    background-color: $white;
  }
}

.cards__item--large .cards__feature {
  margin: 0;

  background: linear-gradient(298.68deg,
    rgba(4, 250, 209, 0.6) 0%,
    rgba(4, 250, 209, 0.1) 100%), #106FFA;

  @include text-gradient-color;
}

.cards__item--optimization {
  background-image: url(../img/example-desktop@1x.png);
  background-repeat: no-repeat;
  background-position: 20px bottom;
  background-size: 721px 461px;


  @include retina {
    background-image: url(../img/example-desktop@2x.png);
  }
  @include desktop {
    background-image: url(../img/example-desktop-s@1x.png);
    background-size: 417px 372px;
    background-position: right bottom;

    @include retina {
      background-image: url(../img/example-desktop-s@2x.png);
    }
  }
  @include tablet {
    background-image: url(../img/example-tablet@1x.png);
    background-size: 353px 277px;
    background-position: right bottom;

    @include retina {
      background-image: url(../img/example-tablet@2x.png);
    }
  }
  @include mobile {
    background-image: url(../img/example-mobile@1x.png);
    background-size: 328px 253px;
    background-position: right bottom;

    @include retina {
      background-image: url(../img/example-mobile@2x.png);
    }
  }
}

.cards__item--optimization .cards__header {
  width: 588px;
  margin: 0;
  margin-top: 40px;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  @include text-gradient-color;
  @include desktop {
    width: auto;
  }
  @include tablet {
    width: auto;
  }
  @include mobile {
    width: auto;
  }
}

.cards__item--simple .cards__header {
  align-self: stretch;

  margin: 0;
  margin-top: 240px;
  padding: 0 30px;
  padding-bottom: 5px;

  text-align: center;
  letter-spacing: -0.02em;

  background: linear-gradient(155.12deg, #2886CA 0%, #433CCA 100%);

  font-size: 56px;
  font-weight: 600;
  line-height: 100%;

  @include text-gradient-color;
  @include desktop {
    margin-top: 185px;
    padding: 0;
  }
  @include tablet {
    margin-top: 118px;

    font-size: 36px;
    line-height: 105%;
  }
  @include mobile {
    margin-top: 126px;

    font-size: 36px;
    line-height: 105%;
  }
}

.cards__item--universality {
  & .cards__btn:hover {
    color: #d35fad;
  }
  & .cards__item-content--main {
    background: linear-gradient(135deg, #FF815D 0%, #B94CDB 100%);
  }

  & .cards__item-content--active {
    background: linear-gradient(132.12deg, #FF815D -79.01%, #B94CDB 100%);
  }
}
