.container {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 64px;

  @include desktop {
  }
  @include tablet {
    padding: 0 16px;
  }
  @include mobile {
    padding: 0 16px;
  }

  &--reviews {
    @include mobile {
      padding: 0
    }
  }
}
