.contacts {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 22, 22, 0.9);
  font-style: normal;
  z-index: 10;
  justify-content: center;
  align-items: center;

  &--visible {
    display: flex;
  }
}

.contacts__wrapper {
  display: flex;
  gap: 4px;

  @include mobile {
    flex-direction: column-reverse;
  }
}

.contacts__btn {
  order: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  border: 0;
  outline: 0;
  background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%), #E8ECF0;

  background-image: url('../img/close.svg');
  background-size: cover;
  cursor: pointer;

  @include mobile {
    align-self: flex-end;
  }
}

.contacts__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacts__address-wrapper {
  border-radius: 16px;
  width: 592px;
  background-color: #fff;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  background-color: $white;

  @include tablet {
    width: 560px;
  }
  @include mobile {
    width: 328px;
  }
}

.contacts__city {
  margin: 0;
  font-size: 19px;
  line-height: 125%;
  letter-spacing: -0.02em;
  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;
  @include text-gradient-color;
}

.contacts__address {
  margin: 0;
  font-size: 19px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.4);

  &:hover {
    text-decoration: underline;
  }
}

.contacts__links-wrapper {
  display: flex;
  gap: 8px;

  @include mobile {
    flex-direction: column;
  }
}

.contacts__tel,
.contacts__mail {
  width: 100%;
  height: 72px;
  color: #161616;
  font-size: 19px;
  line-height: 125%;
  letter-spacing: -0.02em;
  border: 1px solid rgba(210, 217, 225, 0.1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__tel {
  background: linear-gradient(160.2deg, #5EE6B9 0%, #2FBDB9 100%);
}

.contacts__mail {
  background: #D2D9E1;
}
