// .cover {}
.cover__container {
  min-height: 800px;
  margin-top: 80px;
  padding-top: 60px;

  background-image: url(../img/circles-desktop@1x.webp);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  @include retina {
    background-image: url(../img/circles-desktop@2x.webp);
  }
  @include desktop {
    background-image: url(../img/circles-desktop-s@1x.webp);

    @include retina {
      background-image: url(../img/circles-desktop-s@2x.webp);
    }
  }
  @include tablet {
    min-height: 560px;
    margin-top: 0;
    padding-top: 67.5px;

    background-image: url(../img/circles-tablet@1x.webp);

    @include retina {
      background-image: url(../img/circles-tablet@2x.webp);
    }
  }
}

.cover__header {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;

  letter-spacing: -0.03em;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  font-size: 108px;
  font-weight: 600;
  line-height: 96%;

  @include text-gradient-color;
  @include tablet {
    margin-bottom: 2px;

    letter-spacing: -0.02em;

    font-size: 56px;
    line-height: 100%;
  }
}

.cover__callback {
  display: flex;
  align-items: center;

  gap: 16px;
}

.cover__callback-text {
  width: 148px;

  letter-spacing: -0.02em;

  color: #A1A9B4;

  font-size: 16px;
  line-height: 125%;

  @include tablet {
    font-size: 14px;
  }
}
