.functional {
  position: relative;
  z-index: 2;

  background-color: $white;
}

.functional__header {
  max-width: 600px;
  margin: 0;
  margin-bottom: 58px;

  letter-spacing: -0.02em;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  font-size: 80px;
  font-weight: 600;
  line-height: 100%;

  @include text-gradient-color;
  @include tablet {
    max-width: 400px;
    margin-bottom: 40px;

    font-size: 41px;
    line-height: 107%;
  }
  @include mobile {
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 105%;
  }
}

.functional__content {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
}

.functional__card {
  min-height: 560px;

  border: 1px solid rgba(210, 217, 225, 0.2);
  border-radius: 16px;
  box-shadow: 0px 0px 16px rgba(0, 55, 136, 0.08);

  @include tablet {
    min-height: 480px;
  }
  @include mobile {
    min-height: 480px;
  }
}

.functional__sign {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 100px 300px 90px;

  background: linear-gradient(135deg, #FFC83F 0%, #F35B57 100%);

  gap: 24px;
  @include desktop {
    padding: 100px 150px 90px;
  }
  @include tablet {
    width: calc(50% - 8px);
    padding: 90px 57px;
  }
  @include mobile {
    width: 100%;
    padding: 90px 40px;
  }
}

.functional__soon {
  padding: 6px 19.5px;

  letter-spacing: -0.02em;

  color: $white;
  border: 1px solid $white;
  border-radius: 100px;

  font-size: 16px;
  line-height: 125%;

  @include tablet {
    font-size: 10px;
    line-height: 120%;
  }
  @include mobile {
    font-size: 10px;
    line-height: 120%;
  }
}

.functional__icon {
  width: 96px;
  height: 96px;

  @include tablet {
    width: 64px;
    height: 64px;
  }
  @include mobile {
    width: 64px;
    height: 64px;
  }
}

.functional__card-header {
  margin: 0;

  text-align: center;
  letter-spacing: -0.02em;

  color: $white;

  font-size: 56px;
  font-weight: 600;
  line-height: 100%;

  @include tablet {
    font-size: 28px;
    line-height: 115%;
  }
  @include mobile {
    font-size: 28px;
    line-height: 115%;
  }
}

.functional__sign .functional__card-header {
  max-width: 400px;
}

.functional__api .functional__card-header {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 16px;
}

.functional__waring .functional__card-header {
  @include desktop {
    letter-spacing: -0.02em;

    font-size: 44px;
  }
}

.functional__card-header-api {
  letter-spacing: -0.02em;

  background: linear-gradient(90deg, #2886CA 0%, #433CCA 100%);

  font-size: 128px;
  font-weight: 600;
  line-height: 100%;

  @include text-gradient-color;
  @include tablet {
    font-size: 96px;
  }
  @include mobile {
    font-size: 96px;
  }
}

.functional__api .functional__card-header {
  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  @include text-gradient-color;
}

.functional__export .functional__card-header{
  align-items: flex-start;

  text-align: start;

  @include tablet {
    font-size: 36px;
    line-height: 105%;
  }
  @include mobile {
    font-size: 36px;
    line-height: 105%;
  }
}

.functional__card-text {
  margin: 0;

  text-align: center;
  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.5);

  font-size: 19px;
  line-height: 125%;

  @include tablet {
    font-size: 14px;
  }
  @include mobile {
    font-size: 14px;
  }
}

.functional__export .functional__card-text {
  text-align: start;
}

.functional__waring .functional__card-text {
  padding: 0 30px;

  @include tablet {
    padding: 0;
  }
  @include mobile {
    padding: 0;
  }
}

.functional__btn {
  min-width: 160px;
  margin-top: auto;
  padding: 10px 29.5px;

  cursor: pointer;
  transition: all $transition;
  letter-spacing: -0.02em;

  color: #142c4e;
  border: none;
  border: 1px solid #142c4e;
  border-radius: 100px;
  outline: none;
  background-color: transparent;

  font-size: 16px;
  line-height: 125%;

  @include tablet {
    padding: 10px 22.5px;

    font-size: 14px;
  }
  @include mobile {
    padding: 10px 22.5px;

    font-size: 14px;
  }

  &:hover {
    color: $white;
    background-color: #142c4e;
  }
}

.functional__api {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: calc(50% - 8px);
  padding: 143.5px 18px;
  padding-bottom: 40px;

  background: rgba(210, 217, 225, 0.4);

  @include tablet {
    padding: 127.5px 18px 74px;
  }
  @include mobile {
    padding: 127.5px 18px 74px;
    width: 100%;
  }
}

.functional__card-api-discription {
  display: none;
}

.functional__api--active {
  padding-top: 223px;
  & .functional__card-header,
  & .functional__card-header-api {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.02em;
  }

  & .functional__card-header {
    display: block;
    margin-bottom: 16px;
  }

  & .functional__card-header-api {
    background: linear-gradient(133.74deg, rgba(16, 111, 250, 0.4) 0%, rgba(16, 111, 250, 0) 100%), #161616;
    @include text-gradient-color;
  }

  .functional__card-api-discription {
    width: 360px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    background: linear-gradient(133.74deg, rgba(16, 111, 250, 0.4) 0%, rgba(16, 111, 250, 0) 100%), #161616;
    @include text-gradient-color;
  }
}

.functional__waring {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: calc(50% - 8px);
  padding: 128px 18px 110px;

  background: linear-gradient(225deg, #813AF4 0%, #D255C5 100%);

  gap: 24px;

  @include mobile {
    width: 100%;
  }
}

.functional__export {
  display: flex;

  width: 100%;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  @include tablet {
    flex-direction: column;

    width: calc(50% - 8px);
    padding-top: 52.83px;

    gap: 38px;
  }
  @include mobile {
    flex-direction: column;

    width: 100%;
    padding-top: 52.83px;

    gap: 38px;
  }
}

.functional__doc-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.functional__doc-icon {
  width: 291.33px;
  height: 281.83px;
  margin-top: 18px;
  margin-right: 10px;

  @include tablet {
    width: 153.33px;
    height: 148.33px;
    margin: 0;
  }
  @include mobile {
    width: 153.33px;
    height: 148.33px;
    margin: 0;
  }
}

.functional__export-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  padding-left: 16px;

  gap: 24px;
  @include tablet {
    align-items: center;

    padding-left: 0;

    gap: 16px;
  }
  @include mobile {
    align-items: center;

    padding-left: 0;

    gap: 16px;
  }

  & .functional__export-header,
  & .functional__export-text {
    padding-right: 53%;

    @include tablet {
      max-width: 190px;
      padding-right: 0;

      text-align: center;
    }
    @include mobile {
      max-width: 190px;
      padding-right: 0;

      text-align: center;
    }
  }

  & .functional__export-header {
    @include tablet {
      max-width: 174px;
    }
  }

}

.functional__pdf {
  background: linear-gradient(135deg, #FF815D 0%, #B94CDB 100%);

  @include text-gradient-color;
}

.functional__excel {
  background: linear-gradient(160.2deg, #5EE6B9 0%, #2FBDB9 100%);

  @include text-gradient-color;
}
