.header {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 72px;
  margin: 0;

  color: $white;
  background-color: $white;

  @include tablet {
    min-height: 64px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 107.5px;
  height: 20px;
}

.header__nav-list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 32px;
  @include tablet {
    display: none;
  }
}

.header__nav-item a {
  transition: all $transition;
  letter-spacing: -0.02em;

  color: #A1A9B4;

  font-size: 16px;
  line-height: 125%;

  &:hover {
    color: #3662ca;
  }
}

.header__menu-btn {
  display: none;

  width: 32px;
  height: 32px;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  outline: none;
  background-image: url('../img/burger-menu.svg');

  font-size: 0;

  @include tablet {
    display: block;
  }
}
