.header {
  position: fixed;
  z-index: 2;
  top: 0;

  display: flex;
  align-items: center;

  width: 100%;
  min-height: 72px;
  margin: 0;

  color: $white;
  background-color: rgba(255, 255, 255, .9);

  backdrop-filter: blur(100px);
  @include tablet {
    min-height: 64px;
  }
  @include mobile {
    min-height: 64px;
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: transparent;

    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
  }
}


.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 107.5px;
  height: 20px;

  @include mobile {
    width: 32px;
    height: 32px;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 32px;
  @include tablet {
    padding: 32px;
    position: absolute;
    top: -230px;
    right: -250px;

    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 230px;
    height: 250px;

    transition: all $transition;

    background: linear-gradient(155.12deg, #2886CA 0%, #433CCA 100%);
    background-color: #fff;

    &--open {
      width: 100vw;
      height: 100vh;
      top: 0;
      right: 0;
    }
  }
  @include mobile {
    padding: 32px;
    position: absolute;
    top: -230px;
    right: -250px;

    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 230px;
    height: 250px;

    transition: all $transition;

    background: linear-gradient(155.12deg, #2886CA 0%, #433CCA 100%);
    background-color: #fff;

    &--open {
      width: 100vw;
      height: 100vh;
      top: 0;
      right: 0;
    }
  }
}

.header__nav-link {
  transition: all $transition;
  letter-spacing: -0.02em;

  color: #A1A9B4;

  font-size: 16px;
  line-height: 125%;

  &:hover {
    color: #3662ca;
  }
}

.header__btn {
  min-width: 160px;
  padding: 6px 16.5px;

  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.header__btn-mobile {
  &--callback {
    display: none;
  }

  @include tablet {
    display: flex;
    align-items: center;

    height: 40px;
    padding: 5px 24px;

    transition: all $transition;
    letter-spacing: -0.02em;

    color: $white;
    border: 1px solid $white;
    border-radius: 100px;

    font-size: 14px;
    line-height: 125%;
    cursor: pointer;

    &:hover {
      color: #3467ca;
      background-color: white;
    }

    &--callback {
      background-color: $white;
      color: #3467ca;

      &:hover {
        background-color: transparent;
        color: $white;
      }
    }
  }

  @include mobile {
    display: flex;
    align-items: center;

    height: 40px;
    padding: 5px 24px;

    transition: all $transition;
    letter-spacing: -0.02em;

    color: $white;
    border: 1px solid $white;
    border-radius: 100px;

    font-size: 14px;
    line-height: 125%;
    cursor: pointer;

    &:hover {
      color: #3467ca;
      background-color: white;
    }

    &--callback {
      background-color: $white;
      color: #3467ca;

      &:hover {
        background-color: transparent;
        color: $white;
      }
    }
  }
}

.header__nav-close {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;

  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}

.header__menu-btn {
  display: none;

  width: 32px;
  height: 32px;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  outline: none;
  background-image: url('../img/burger-menu.svg');

  font-size: 0;

  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
