.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;

  width: 100%;
  min-height: 72px;
  margin: 0;

  color: $white;
  background-color: rgba(255, 255, 255, .9);
  backdrop-filter: blur(100px);

  @include tablet {
    min-height: 64px;
  }
  @include mobile {
    min-height: 64px;
  }
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: rgba(210, 217, 225, 0.1);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
  }
}


.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 107.5px;
  height: 20px;

  @include mobile {
    width: 32px;
    height: 32px;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

  gap: 32px;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.header__nav-link {
  transition: all $transition;
  letter-spacing: -0.02em;

  color: #A1A9B4;

  font-size: 16px;
  line-height: 125%;

  &:hover {
    color: #3662ca;
  }
}

.header__menu-btn {
  display: none;

  width: 32px;
  height: 32px;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  outline: none;
  background-image: url('../img/burger-menu.svg');

  font-size: 0;

  @include tablet {
    display: block;
  }
  @include mobile {
    display: block;
  }
}
