.improve {
  padding: 200px 0;

  @include tablet {
    padding: 120px 0;
  }
  @include mobile {
    padding: 80px 0;
  }
}

.improve__header {
  max-width: 896px;
  margin: 0;
  margin-bottom: 60px;

  letter-spacing: -0.02em;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  font-size: 80px;
  font-weight: 600;
  line-height: 100%;

  @include text-gradient-color;
  @include tablet {
    max-width: 496px;
    margin-bottom: 40px;

    font-size: 41px;
    line-height: 107%;
  }
  @include mobile {
    max-width: 496px;
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 105%;
  }
}

.improve__row {
  display: flex;

  &--middle {
    border-top: 1px solid rgba(210, 217, 225, 0.5);
    border-bottom: 1px solid rgba(210, 217, 225, 0.5);

    @include mobile {
      border: none;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.improve__item {
  display: flex;
  align-items: center;

  min-height: 400px;
  padding-right: 5px;

  @include tablet {
    min-height: 320px;
  }

  @include mobile {
    padding: 31.5px 0;
    min-height: auto;
    border-bottom: 1px solid rgba(210, 217, 225, 0.5);
  }

  &--large {
    flex-shrink: 0;

    width: 63.4%;
    padding-right: 130px;

    @include desktop {
      width: 66.4%;
      padding-right: 100px;
    }
    @include tablet {
      width: 60.4%;
      padding-right: 57px;
    }
    @include mobile {
      width: 100%;
      padding-right: 0;
    }
  }

  &--small {
    width: 100%;
    padding-left: 80px;

    @include desktop {
      padding-left: 62px;
    }
    @include tablet {
      padding-left: 46px;
    }
    @include mobile {
      padding-left: 0;
    }
  }

  &--first {
    border-right: 1px solid rgba(232, 236, 240, 1);
    border-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(232, 236, 240, 1)
    ) 1 100%;
    @include mobile {
      border: none;
      border-bottom: 1px solid rgba(210, 217, 225, 0.5);
    }
  }

  &--middle {
    border-left: 1px solid rgba(210, 217, 225, 0.5);
    @include mobile {
      border: none;
      border-bottom: 1px solid rgba(210, 217, 225, 0.5);
    }
  }

  &--last {
    border-right: 1px solid rgba(210, 217, 225, 0.5);
    border-image:
    linear-gradient(
      to bottom,
      rgba(232, 236, 240, 1),
      rgba(255, 255, 255, 0.8)
    ) 1 100%;
    @include mobile {
      border: none;
      border-bottom: 1px solid rgba(210, 217, 225, 0.5);
    }
  }
}

.improve__row--middle {
  @include mobile {
    flex-direction: column-reverse;
  }
}

.improve__row--middle .improve__item {
  &--large {
    padding-left: 80px;

    @include desktop {
      padding-right: 0px;
      padding-left: 68px;
    }
    @include tablet {
      padding-right: 0px;
      padding-left: 58px;
    }
    @include mobile {
      padding: 32px 0;
    }
  }

  &--small {
    padding-right: 130px;
    padding-left: 0;

    @include desktop {
      padding-right: 59px;
    }
    @include tablet {
      padding-right: 59px;
    }
    @include mobile {
      padding: 32px 0;
    }
  }
}


.improve__item-header {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 6px;

  letter-spacing: -0.02em;

  font-weight: 600;
  line-height: 100%;

  @include mobile {
    margin-bottom: 4px;
  }
}

.improve__item--large .improve__item-header {
  background: linear-gradient(90deg, #2886CA 0%, #433CCA 100%);

  font-size: 44px;

  @include text-gradient-color;
  @include tablet {
    font-size: 28px;
    line-height: 115%;
  }
  @include mobile {
    font-size: 24px;
    line-height: 115%;
  }
}

.improve__item--small .improve__item-header {
  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  font-size: 24px;

  @include text-gradient-color;
  @include tablet {
    font-size: 20px;
    line-height: 120%;
  }
  @include mobile {
    font-size: 20px;
    line-height: 120%;
  }
}

.improve__item-text {
  margin: 0;

  letter-spacing: -0.02em;

  color: #A1A9B4;

  font-size: 19px;
  line-height: 125%;

  @include tablet {
    font-size: 16px;
  }
  @include mobile {
    font-size: 14px;
  }
}
