.partners {
  padding-top: 200px;

  @include tablet {
    padding-top: 120px;
  }
  @include mobile {
    padding-top: 80px;
  }
}

.partners__item__header {
  max-width: 774px;
  margin: 0;
  margin-bottom: 60px;

  letter-spacing: -0.02em;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  font-size: 80px;
  font-weight: 600;
  line-height: 100%;

  @include text-gradient-color;
  @include tablet {
    max-width: 374px;
    margin-bottom: 40px;

    font-size: 41px;
    line-height: 107%;
  }
  @include mobile {
    max-width: 374px;
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 105%;
  }
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;

  list-style: none;
}

.partners__item {
  width: 400px;
  height: 400px;
  margin: 0;

  transition: all 1s ease-out;

  opacity: 0;
  border: 1px solid rgba(210, 217, 225, 0.4);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;

  @include desktop {
    width: 298.67px;
    height: 298.67px;
  }
  @include tablet {
    width: 368px;
    height: 368px;
  }
  @include mobile {
    width: 328px;
    height: 328px;
  }

  &.visible {
    opacity: 1;
  }

  &--gazprom {
    background-image: url(../img/partner-gazprom@1x.webp);
    background-size: 281px 234px;

    @include retina {
      background-image: url(../img/partner-gazprom@2x.webp);
    }
    @include desktop {
      background-size: 187.33px 156px;
    }
    @include tablet {
      background-size: 187.33px 156px;
    }
    @include mobile {
      background-size: 187.33px 156px;
    }
  }

  &--eurochem {
    background-image: url(../img/partner-eurochem@1x.webp);
    background-size: 279px 232px;

    @include retina {
      background-image: url(../img/partner-eurochem@2x.webp);
    }
    @include desktop {
      background-size: 186px 154.67px;
    }
    @include tablet {
      background-size: 186px 154.67px;
    }
    @include mobile {
      background-size: 186px 154.67px;
    }
  }

  &--rusal {
    background-image: url(../img/partner-rusal@1x.webp);
    background-size: 281px 234px;

    @include retina {
      background-image: url(../img/partner-rusal@2x.webp);
    }
    @include desktop {
      background-size: 187.33px 156px;
    }
    @include tablet {
      background-size: 187.33px 156px;
    }
    @include mobile {
      background-size: 187.33px 156px;
    }
  }

  &--pts {
    background-image: url(../img/partner-pts@1x.webp);
    background-size: 281px 234px;

    @include retina {
      background-image: url(../img/partner-pts@2x.webp);
    }
    @include desktop {
      background-size: 187.33px 156px;
    }
    @include tablet {
      background-size: 187.33px 156px;
    }
    @include mobile {
      display: none;

      background-size: 187.33px 156px;
    }
  }

  &--aacsb {
    background-image: url(../img/partner-aacsb@1x.webp);
    background-size: 279px 232px;

    @include retina {
      background-image: url(../img/partner-aacsb@2x.webp);
    }
    @include desktop {
      background-size: 186px 154.67px;
    }
    @include tablet {
      background-size: 186px 154.67px;
    }
    @include mobile {
      display: none;

      background-size: 186px 154.67px;
    }
  }
}

.partners__item--show-all {
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: -0.02em;

  color: #A1A9B4;

  font-size: 16px;
  line-height: 125%;

  @include mobile {
    font-size: 14px;
    line-height: 125%;
  }
}
