.reviews {
  padding: 186px 0 197px;

  @include tablet {
    padding-top: 106px;
    padding-bottom: 120px;
  }
  @include mobile {
    padding-top: 66px;
    padding-bottom: 80px;
  }
}

.reviews__header {
  max-width: 650px;
  margin: 0;
  margin-bottom: 50px;
  padding-bottom: 10px;

  letter-spacing: -0.02em;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  font-size: 80px;
  font-weight: 600;
  line-height: 100%;

  @include text-gradient-color;
  @include tablet {
    max-width: 350px;
    margin-bottom: 30px;

    font-size: 41px;
    line-height: 107%;
  }
  @include mobile {
    padding-left: 16px;
    max-width: 296px;
    margin-bottom: 22px;

    font-size: 36px;
    line-height: 105%;
  }
}

.reviews__list {
  padding: 16px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  height: 498px;
  justify-content: space-between;

  padding: 80px;

  border: 1px solid rgba(210, 217, 225, 0.2);
  border-radius: 16px;
  box-shadow: 0px 0px 16px rgba(0, 55, 136, 0.08);

  @include desktop {
    height: 430px;
    padding: 64px;

  }
  @include tablet {
    height: 446px;
    padding: 24px;

  }
  @include mobile {
    height: 446px;
    padding: 16px;
  }
}

.reviews__quotation {
  align-self: flex-start;

  width: 40px;
  height: 40px;

  @include tablet {
    width: 32px;
    height: 32px;
  }
  @include mobile {
    width: 24px;
    height: 24px;
  }
}

.reviews__text {
  margin: 0;
  padding-bottom: 5px;

  letter-spacing: -0.02em;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  font-size: 44px;
  font-weight: 600;
  line-height: 100%;

  @include text-gradient-color;
  @include tablet {
    font-size: 36px;
    line-height: 105%;
  }
  @include mobile {
    font-size: 20px;
    line-height: 120%;
  }
}

.reviews__persons {
  display: flex;
  justify-content: space-between;
}

.reviews__current-person {
  display: flex;

  gap: 18px;
  @include tablet {
    gap: 10px;
  }
  @include mobile {
    gap: 10px;
  }
}

.reviews__avatar {
  width: 64px;
  height: 64px;

  border: 2px solid $white;
  border: 2px solid $white;
  border-radius: 50%;
  background-size: contain;
  flex-shrink: 0;

  @include tablet {
    width: 54px;
    height: 54px;
  }
  @include mobile {
    width: 52px;
    height: 52px;
  }

  &--harasov {
    background-image: url(../img/avatar-harasov@1x.webp);

    @include retina {
    background-image: url(../img/avatar-harasov@2x.webp);
    }
  }

  &--konev {
    background-image: url(../img/avatar-konev@1x.webp);

    @include retina {
    background-image: url(../img/avatar-konev@2x.webp);
    }
  }

  &--shubin {
    background-image: url(../img/avatar-shubin@1x.webp);

    @include retina {
    background-image: url(../img/avatar-shubin@2x.webp);
    }
  }
}

.reviews__person-text {
  display: flex;
  flex-direction: column;

  max-width: 400px;

  @include tablet {
    // max-width: 252px;
  }
  @include mobile {
    max-width: auto;
    width: 100%;
  }
}

.reviews__person-name {
  margin: 0;

  letter-spacing: -0.02em;

  background: linear-gradient(133.74deg,
    rgba(16, 111, 250, 0.4) 0%,
    rgba(16, 111, 250, 0) 100%), #161616;

  font-size: 19px;
  line-height: 125%;

  @include text-gradient-color;
  @include tablet {
    font-size: 16px;
    line-height: 125%;
  }
  @include mobile {
    font-size: 16px;
    line-height: 125%;
  }
}

.reviews__person-position {
  margin: 0;

  letter-spacing: -0.02em;

  color: #A1A9B4;

  font-size: 16px;
  line-height: 125%;

  @include tablet {
    font-size: 14px;
    line-height: 125%;
  }
  @include mobile {
    font-size: 14px;
    line-height: 125%;
  }
}

.reviews__other-avatars {
  display: flex;
  flex-direction: row-reverse;

  @include mobile {
    display: none;
  }
}

.reviews__avatar-wrapper {
  border-radius: 50%;
  background-color: $white;
  align-self: flex-start;

  &--last {
    margin-left: -30px;

    transform: translateX(50%);

    & .reviews__avatar:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  & .reviews__avatar {
    transition: all $transition;

    opacity: 0.5;
  }

}
