/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1200px;

// Цвета
$black: #000;
$white: #fff;
$grey: #ccc;

$text-2: #A1A9B4;

$dark-grad-bg: linear-gradient(
  133.74deg,
  rgba(16, 111, 250, 0.4) 0%,
  rgba(16, 111, 250, 0) 100%),
  #161616;
$light-grad-bg-1: linear-gradient(155.12deg, #2886CA 0%, #433CCA 100%);
$light-grad-bg-2: linear-gradient(90deg, #2886CA 0%, #433CCA 100%);
$light-grad-bg-3: linear-gradient(
  298.68deg,
  rgba(4, 250, 209, 0.6) 0%,
  rgba(4, 250, 209, 0.1) 100%),
  #106FFA;

// Шрифты
$main-font: "Inter", "Arial", sans-serif;

$transition: 0.35s ease-out;
