/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Цвета
$black: #000;
$white: #fff;
$grey: #ccc;

// Шрифты
$main-font: "Inter", "Arial", sans-serif;

$transition: 0.35s ease-out;
